main{
   /* background-color: darkblue;*/
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;

}

.container-flex-publi{
    background-color: var(--cor-azul-claro);
    width: 90%;
    max-width: 900px;
    height: 700px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    

}

#storys {
  /*  background-color: #bcbcbc;
    width: 100%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
    overflow-x: scroll; /* poe scroll no eixo x*/

}

#storys::-webkit-scrollbar{
    width: 0;
}

.card-story{
 /*   width: 100%;
    max-width: 100px;*/
/*    background-color: #bcbcbc;*/
}

.card-story > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.card-story > a >img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;

}

.card-story > a > span{
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
    text-transform: lowercase;
}

/* seção criar publi */
#cadastro-publi{
    display: flex;
    flex-direction: column;
    gap:30px;
    padding: 10px;
}

#cadastro-publi > h2{
    font-size: var(--tamanho-fonte-lg);
    color: var(--cor-cinza-escuro2);
    font-weight: 800;
}

#cadastro-publi > form > textarea{
    width: 100% !important;
    height: 80px !important;
    background-color: var(--cor-cinza-claro);
    resize: none;/* Desabilita a opção de redimensionar */
    padding: 10px;
    color: var(--cor-cinza-escuro2);
    font-size: var(--tamanho-fonte-sm);
}