main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;

}

.container-flex-publi {
    width: 90%;
    max-width: 900px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;


}

#storys {
    /*  background-color: #bcbcbc;
    width: 100%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
    overflow-x: scroll;
    /* poe scroll no eixo x*/

}

#storys::-webkit-scrollbar {
    width: 0;
}

.card-story {
    /*   width: 100%;
    max-width: 100px;*/
    /*    background-color: #bcbcbc;*/
}

.card-story>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.card-story>a>img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;

}

.card-story>a>span {
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
    text-transform: lowercase;
}

/* seção criar publi */
#cadastro-publi {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}

#cadastro-publi>h2 {
    font-size: var(--tamanho-fonte-lg);
    color: var(--cor-cinza-escuro2);
    font-weight: 700;
}

#cadastro-publi > form > textarea {
    width: 100% !important;
    height: 80px !important;
    background-color: #e5e5e5;
    resize: none;
    /* Desabilita a opção de redimensionar */
    padding: 10px;
    color: var(--cor-cinza-escuro2);
    font-size: var(--tamanho-fonte-sm);
    border: var(--borda-);
    outline-color: var(--cor-azul);
}

#cadastro-publi > form > textarea::placeholder{
   color: var(--cor-cinza-escuro1);
}


#cadastro-publi > form > footer {
    display: flex;
    /* ativa o flex*/
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.formulario-botao-azul {
    width: 100%;
    max-width: 135px;
}

/* secao publicacoes */
#publicacoes{
    width: 100%;
    height: 600px;
}

.card-publi{
    width: 100%;
   background-color: var(--cor-branco);
}

.card-publi > header{
   /* height: 80px;*/
    display: flex;
    align-items: center;
    padding: 3%;
}

.card-publi > header > a {
    display: flex;
    align-items: center; /* alinha no sentido contrario do flex */
    gap: 10px;
    text-decoration: none;
    color: var(--cor-preto);
    font-weight: 500;
}

.card-publi > header > a> span{
    display: flex;
    align-items: center;
}

.card-publi > figure{
    width: 100%;
    /* background-color: #fafafa; */
    display: flex;
    flex-direction: column;
}

.imagem-publicacoes{
    object-fit: cover;
    object-position: center;
    width: 900px;
    height: 600px;
}

.descricao-publicacao{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--tamanho-fonte-md);
    font-weight: 500;
    padding: 0 3%; 
    order: 2;/* muda a ordem de exibicao*/
    flex-wrap: wrap;
}

.descricao-publicacao > p{
    font-size: var(--tamanho-fonte-sm);
}

.interacoes-publicacoes{
    margin: 15px 3%;
    width: 97px;
    display: flex;
    gap: 5px;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    order: 1;
}

.interacoes-publicacao > button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.interacoes-publicacao > button > img{
    /* tamanho para imagem */
}

.interacoes-publicacao > span{
    font-size: var(--tamanho-fonte-sm);
    font-weight: 700;
    color: var(--cor-preto);
}

.card-publi > button {
    margin: 15px 3%;
    background-color: transparent;
    border: none;

    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
    color: var(--cor-cinza-escuro1);

    cursor: pointer;
}