@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-preto:         #000000;
    --cor-azul:          #2686CC;
    --cor-branco:        #FFFFFF;
    --cor-cinza-claro:   #FAFAFA;
    --cor-cinza-medio:   #E5E5E5;
    --cor-cinza-escuro1: #B6B6B6;
    --cor-cinza-escuro2: #4D4D4D;
    --cor-cinza-escuro3: #7D7D7D;
    --cor-cinza-escuro4: #D1D1D1;
    --cor-azul-claro:    #58B3C7;
    --cor-azul-claro2:   #44A5DC;
    --cor-azul-escuro:   #0077FF;
  
    
 
    --borda: 1px solid var(--cor-cinza-medio);
    --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}

/* SELETOR GLOBAL */
* {
    font-family: "Noto Sans", sans-serif;
    padding: 0;
    margin:  0;
    box-sizing: border-box;/* o valor total do tamanho do elemento 
    conta tanto com espaços internos/externo e borda*/
    outline-color: var(--cor-azul);
}

body{
    background-color: var(--cor-cinza-claro);
}

h1{
    position: absolute;/* altera a posição do elemento */
    z-index: -1;
    opacity: 0;
}

/* formulario */
.estilo-formulario{
    border: var(--borda);
    width: 100%;
    background-color: var(--cor-branco);
}

input{
    width: 100%;
    height: 35px;
    border: var(--borda);
    background-color: var(--cor-cinza-claro);
}

.formulario-botao-azul{
    border-radius: var(--borda-arredondada);
    border: none;
    height: 35px;
    color: var(--cor-branco);
    background-color: #44A5DC;
    font-size: var(--tamanho-fonte-sm);
    font-weight: 600;

}

.file-upload{
    display: inline-block;
    width: 100%;
    max-width: 300px;
    min-height: 35px;
    padding: 5px;
    background-color: var(--cor-cinza-escuro1);
    color: var(--cor-branco) ;
    text-align: center;
    font-weight: 600;
    border-radius: var(--borda-arredondada);
    

}

/* Cabeçalho */
#cabecalho{
    width: 100%;
    /* 100% da tela de visualização */
    height: 80px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    border-bottom:3.5px solid var(--cor-azul-claro);
}

#cabecalho > nav {
  width: 85%;
  max-width: 1440px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-mobile{
    display: none;
}

.cabecalho-acoes{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cabecalho-acoes{
    display: flex;
    align-items: center;
}

.foto-perfil{
    width: 40px;
    height: 40px;
    object-fit: cover;/* Redimensionar foto*/
    object-position: center;
    border-radius: 50%;
}

.verificado{
    width: 38px;
}

.verify{
    width: 15px;
    height: 15px;
   }
 
.foto-perfil{
    width: 70;
    }

.user-info .verified {
    margin-right: 0; /* remove espaçamento extra */
  }

.user-info .time {
    margin-left: 0; /* remove espaçamento extra */
  }

/* RESPONSIVO*/
@media only screen and (max-width: 485px) {
    #logo-mobile{
        display: initial;
    }

    #logo-desktop{
        display: none;
    }
    
}